<a href="https://colab.research.google.com/github/sexymonster/Projects/blob/main/TeamProject/DataVisualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Load dataset & Import libraries

In [ ]:
import pandas as pd
import numpy as np

import plotly.figure_factory as ff
import plotly.offline as py 
import statistics
import plotly.express as px
import matplotlib as mpl
import matplotlib.pyplot as plt
import warnings
import matplotlib.font_manager as fm  # 폰트 관련 용도


data = pd.read_csv('merge2.csv')
data.tail()

,Date,생장길이(cm),화방높이(cm),줄기굵기(mm),엽장(cm),엽폭(cm),엽수(개),개화군(점),착과군(점),열매수(개),최종화방번호(번),내부CO2(ppm),내부습도(%),강우감지,일사량(W/m-2·s),외부온도(도),내부온도(도),지온(도),외부풍속(m/s)
165,2021-06-26,0.0,0.0,6.45,367.14,293.09,11.21,0.0,3.18,20.32,3.18,423.34,78.29,0.37,272.93,22.80,25.62,25.34,0.70
166,2021-06-27,0.0,0.0,6.47,365.36,290.51,11.04,0.0,3.07,18.43,3.07,385.63,76.08,0.00,355.98,24.16,26.05,26.15,0.56
167,2021-06-28,0.0,0.0,6.48,363.57,287.94,10.86,0.0,2.96,16.54,2.96,381.62,81.28,0.00,224.24,24.12,25.68,26.65,0.51
168,2021-06-29,0.0,0.0,6.49,361.79,285.37,10.68,0.0,2.86,14.64,2.86,386.09,81.84,0.00,298.56,23.78,26.19,26.64,0.64
169,2021-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,383.93,79.69,0.00,240.88,24.50,26.42,26.68,0.18

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          170 non-null    object
 1   생장길이(cm)      161 non-null    float64
 2   화방높이(cm)      161 non-null    float64
 3   줄기굵기(mm)      161 non-null    float64
 4   엽장(cm)        161 non-null    float64
 5   엽폭(cm)        161 non-null    float64
 6   엽수(개)         161 non-null    float64
 7   개화군(점)        161 non-null    float64
 8   착과군(점)        161 non-null    float64
 9   열매수(개)        161 non-null    float64
 10  최종화방번호(번)     161 non-null    float64
 11  내부CO2(ppm)    169 non-null    float64
 12  내부습도(%)       169 non-null    float64
 13  강우감지          168 non-null    float64
 14  일사량(W/m-2·s)  169 non-null    float64
 15  외부온도(도)       169 non-null    float64
 16  내부온도(도)       169 non-null    float64
 17  지온(도)         131 non-null    float64
 18  외부풍속(m/s)     168 non-null    float64
dtypes: float64(18), object(1)
memory usage: 25.4+ KB

#2. Data cleaning

In [ ]:
fig